/* Color palette
#529E7A dark green
#6EEBB0 light green
#EB9B63 beige
#335C9E dark blue
#5790EB light blue
*/

body {
    background-color: #6EEBB0;
    font-family: 'Labrada', serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fredoka One', cursive;

}

header {
    border-bottom: 3px solid #335C9E;
    text-align: right;
}

main {
    font-size: 18px;
    max-width: 1800px;
    padding: 1em auto;
    text-align: center;
}

main #bio {
    color: #335C9E;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

main #bio div {
    display: inline-block;
    color: #000;
    height: 100%;
}

#video-container p {
    margin-bottom: 4px;
    text-decoration: underline;
    font-size: larger;
}

#myVideo {
    position: relative;
    width: auto;
    height: 600px;
    margin-top: 0;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies h2 {
    text-decoration: underline;
    margin-bottom: 0em;
}

#hobbies ul {
    list-style-type: none;
    text-align: center;
    color: #000;
    min-width: 400px;
    max-width: 600px;
    width: 80%;
}

#hobbies ul li {
    display: inline-block;
    border: 1px solid #000;

    padding: 8px;
    margin: 5px;

    background-color: rgba(87, 144, 235, 70%);
}

#hobbies ul li:hover {
    background-color: rgba(87, 144, 235, 50%);
}


#gallery h2 {
    margin-bottom: 0.1em;
}

#gallery figure {
    position: relative;
    color: #fff;
    overflow: hidden;
}

#gallery #gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery figure img {
    width: 100%;
    max-width: 320px;
}

#gallery figure figcaption {
    position: absolute;
    top: -75px;

    height: 75px;
    line-height: 75px;

    font-size: 2em;

    width: 100%;

    background-color: rgba(0, 0, 0, 75%);
    transition: all 0.5s;
}


#gallery #gallery-grid figure:hover figcaption {
    top: 0px;
}

#lit {
    text-align: left;
    width: 80%;
    min-width: 350px;
    font-size: 1em;
    margin: 0 auto;
}

#lit h2 {
    width: fit-content;
    padding: 6px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

#lit div {
    border: 1px solid #000;
    padding: 0 12px;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 75%);
}

#contact {
    width: 80%;
    min-width: 350px;

    margin: auto;

    text-align: left;
}

#contact fieldset legend {
    font-size: 1.25em;
}


#contact input,
#contact textarea {
    box-sizing: border-box;
    font-size: 0.8em;

    padding: 0.75em;

    border-radius: 0.25em;
    border: 1px solid #000;
    outline: none;
}

#contact input:focus,
#contact textarea:focus {
    box-shadow: none;
    box-shadow: 0px 0px 4px 2px #335C9E;
}

#contact fieldset {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
}

#contact fieldset #contact-info {
    width: 45%;
    min-width: 300px;
}

#contact fieldset #contact-info input {
    margin-left: 5px;
}

#contact fieldset #contact-info select {
    padding: 8px;
    margin-left: 5px;
    margin-top: 5px;

    background-color: #fff;

    border: 1px solid #000;
    border-radius: 0.25em;
}

#contact fieldset textarea {
    width: 45%;
    min-width: 300px;
}

#contact fieldset #confirm {
    width: 100%;
    text-align: center;
}

#contact fieldset #confirm ul {
    list-style-type: none;
}

#contact fieldset #confirm #submitBtn {
    background-color: #5790EB;

    padding: 0.5em;

    font-size: 1em;
}

#contact fieldset #confirm #submitBtn:hover {
    opacity: 80%;
}

footer {
    background-color: #529E7A;
    padding: 10px;
    margin: 0;
}

@media screen and (min-width: 60em) {
    #lit div {
        max-width: 100%;
        columns: 40rem;
    }
}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1 /-1;
    }

    #gallery figure {
        display: block;
    }
}